@import './base.css';
@import 'tailwindcss';

#app {
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'player player  player';
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: #000000;
  color: white;
  height: 100dvh;
  padding: 8px;
  column-gap: 20px;
  overflow-y: auto;
}

#app input[type='range'] {
  outline: none;
}

@media (max-width: 1023px) {
  #app {
    grid-template-areas:
      'header'
      'main'
      'player'
      'aside';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
